---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Upload from '~/components/widgets/Upload.astro';

---
<Layout>
    <!-- Hero Widget ******************* -->

    <Hero
        tagline=""
    >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Demo</span>
    </Fragment>

    <Fragment slot="subtitle">
      Elevate your engagement in classrooms by trying out our IEP generator!
    </Fragment>

    <Fragment slot="subtitle">
        Simply input a blank IEP file so our model is able to fill that form out. Then, upload one of the student's previous IEP and an IEP the teacher (user) has written.
    </Fragment>
  </Hero>

  <Upload
    title="Upload"
    tagline=""
    columns={3}
    
  />
</Layout>

