---
import { SITE } from 'astrowind:config';
---

<img class="w-16 h-16 mr-2" src="/src/assets/images/TeachTechlogo.png" alt="TeachTech logo">
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  TeachTech
</span>







